# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2026 The Linux Foundation

* text=auto eol=lf
*.sh text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.json text eol=lf
*.json5 text eol=lf
*.md text eol=lf
*.txt text eol=lf
*.conf text eol=lf
