# SPDX-License-Identifier: Apache-2.0
# SPDX-FileCopyrightText: 2026 The Linux Foundation
---
extends: default

rules:
  line-length:
    max: 250
    level: warning
  truthy:
    allowed-values: ["true", "false", "on", "off", "yes", "no"]
    check-keys: false
  comments:
    min-spaces-from-content: 1
  comments-indentation: disable
  document-start: disable
  indentation:
    spaces: consistent
    indent-sequences: consistent

ignore: |
  .github/
  LICENSES/
  config/redis.conf
